.App-cards {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

.App-cards-list {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.App-cards-list>* {
    transform: scale(0.8);
    margin-bottom: 30px !important;
}

.deletButton {
    margin-top: 18px;
}