@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.card-title{
    color: black;
    text-align: center;
}
.content{
    background-color: #f7f9fc;
    font-family: 'Poppins';
}

.card-body{
    display: flex;
    background-color: #F7F9FC
}

.forms{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 30px;
    width: 65%;
    border-radius: 5px;
    position: relative;
}

.Main-Card{
    background-color: white;
    display: flex;
    width: 500px;
    border-radius: 5px; 
}

.forms-1{
    display: flex;
    flex-direction: column;
    width: fit-content;
    /*border-width: 1px;
    border-style: solid;
    border-color: brown;*/
}


.forms-3{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 30px;
    /*border-style: solid;
    border-width: 2px;
    border-color: blueviolet;*/
}

.forms-2{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    /*border-style: solid;
    border-width: 2px;
    border-color: blue;*/
}
.forms-4{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    /*border-style: solid;
    border-width: 2px;
    border-color: yellow;*/

}
.final-forms{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#mensagem{
    width: 500px;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#mensagem:focus {
    border-color: #000000;
    outline: none;
}

#nomeCompleto:focus,
#telefone:focus,
#email:focus,
#assunto:focus{
    border-color: #000000;
    outline: none;
}

#nomeCompleto,
#telefone,
#email,
#assunto{
    border: 1px solid #ccc;
    border-radius: 5px;
}
#btn-enviar{
    margin-top: 20px;
    border-radius: 5px;
    width: 170px;
    background-color: #5978ed;
    height: 50px;
    color: white;
    font-size: 20px;
    border-color: #5978ed;
}

.button-enviar{
    width: fit-content;
}

.contatos{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 2%;
    border-radius: 5px;
    height: 30%;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top:45px;   
}

.email-contato{
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.telefone-contato{
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.text-email{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    color: #000000;
}

.text-telefone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    color: #000000;
}

.phone_icon,
.email_icon{
    size: 8px;
    margin-left: 1rem;
    color: #5978ed;
}

.phone_arkad,
.email_arkad{
    opacity: 0.5;
}