@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.card {
    margin-top: 2rem;
    width: auto;
    height: auto;
    font-family: 'Poppins';
    box-shadow: none;
}
.card-body{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.form-group-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    color: #000;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 0.5rem;
    width: 100%;
}

.form-group label {
    margin-bottom: 0.5rem;
    display: block;
    color: #000;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_entrar {
    background-color: #0EAF52;
    border-radius: 10px;
    color: white;
    border-color: #0EAF52;
    font-size: 18px;
    padding: 10px 20px;
    width: 300px;
}

.link {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.link_new_user {
    margin-top: 0.5rem;
    display: flex;
}

.novo-por-aqui {
    margin-left: 10px;
}

.forms-google {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
    margin: 0 auto;
    font-size: 18px;
    padding: 10px 20px;
    width: 300px;
    margin-top: 3%;
    border-width: 5px;
}

.log-google {
    text-align: center;
    color: black;
}

.span-email {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.span-email hr {
    width: 30%;
    margin-left: 25px;
    margin-right: 25px;
    border-width: 2px;
}

.span-email span {
    height: auto;
    line-height: inherit;
    color: black;
    text-align: center;
}


.novo-por-aqui {
    color: black;
}
